http://{$WG_EASY_HOST:wg.localhost}, http://{$WG_EASY_ALT_HOST:wg.infra.local} {
	reverse_proxy wg-easy:{$WG_EASY_WEB_PORT:51821}
}

http://{$STATIC_WEB_HOST:static.localhost}, http://{$STATIC_WEB_ALT_HOST:static.infra.local} {
	reverse_proxy static-web:80
}

http://{$FRESHRSS_HOST:freshrss.localhost}, http://{$FRESHRSS_ALT_HOST:freshrss.infra.local} {
	reverse_proxy freshrss:80
}

http://{$UPTIME_KUMA_HOST:status.localhost}, http://{$UPTIME_KUMA_ALT_HOST:status.infra.local} {
	reverse_proxy uptime-kuma:3001
}

http://{$BESZEL_HOST:beszel.localhost}, http://{$BESZEL_ALT_HOST:beszel.infra.local} {
	reverse_proxy beszel:8090
}

http://{$PORTAINER_HOST:portainer.localhost}, http://{$PORTAINER_ALT_HOST:portainer.infra.local} {
	reverse_proxy portainer:9000
}

http://{$BUGSINK_HOST:bugsink.localhost}, http://{$BUGSINK_ALT_HOST:bugsink.infra.local} {
	reverse_proxy bugsink:8000
}
